/*https://coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c*/

/*Font*/

.logo-icon,h1,h2,li{
	
	font-family: 'Playfair Display', serif;
	font-weight: 200;
	font-color: #011627;

}

p {
	font-family: 'Source Sans Pro', sans-serif;

}

h1 span {
	background: #FF9F1C	;
	color: #FDFFFC;
}

/*Logo*/

.logo {
	border: solid 2.5px #FF9F1C;
	padding: 0 10px;
	width: auto;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 2px;
}

a {
	text-decoration: none;
}



/*Layout*/

.wrapper {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;
	max-width: 1000px;

}


.hero {
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;

}

.hero-title {
	font-size: 2.62em;
	width: auto;
	line-height: 50px;
	height: auto;
}




.section {
	margin: 0 0 50px 0 ;

}



.aboutMe  p {
	
}

/*Base Styles*/

footer {
	border-top: solid 2.5px #FF9F1C;
}

/* Nav */

.nav {
		padding: 10px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
}

.nav ul {
	

}

.nav > ul li {
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
	
}

.nav > ul li:hover {
	border-bottom: #011627 2px solid;
	cursor: pointer;
}
